* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x:hidden;
}

.cart_image {
    height: 50px;
    width: 50px;
}

.logo {
    width: 7%;
    height: 5%;
}
.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.admin_image {
    width: 100px;
    height: 50px;
    object-fit: contain;
}

.upi_image {
    width: 90%;
    display: block;
    margin: auto;
}

.product_image {
    width: 100px;
    height: 60px;
    object-fit: contain;
}


/* .footer {
    position: absolute;
    bottom: 0;
    overflow-x: hidden;
} */